/* App text & deco */
.App {
  text-align: center;
}

.App-textSmall {
  font-size: 0.8rem;
}

.App-textMid {
  font-size: 0.9rem;
}

.App-textLeft{
  text-align: left;
}

.App-textCenter{
  text-align: center;
}

.App-notextDecoration{
  text-decoration: none;
}

.App-textEllipsis{
  height: 2.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.App-oneLineEllipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.App-blackPanel{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 1)100%);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 1)100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 1)100%);
  background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 1)100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* ! LUCA ONLY ! */
.text-luca{
  color: #317985;
}

.text-lucaDark{
  color: #21515a;
}

.bg-luca{
  background-color: #317985;
}

.bg-lucaLight{
  background-color: #e2eced;;
}

.bg-lucaLighter{
  background-color: #e7f0f1;;
}

.bg-lucaMid{
  background-color: #317985;
}

.btn-luca{
  color: #fff !important;
  background-color: rgb(73 155 169) !important; 
}

/* The other colors of text, bg... */
.text-white{
  color: #fff;
}

.text-grey{
  color: #777;
}

.bg-grey{
  background-color: rgb(201, 201, 201) !important;
}

.text-black{
  color: #000;
}

/* Card & Img  */
.nav-icons > div > a > img{
  padding: 0;
  width: 20px;
  height: 20px;
}

.projImgSize {
  height: 8vw;
}

.home-function-cards > div:hover {
  box-shadow: 0px 0px 3px 3px rgb(207 228 229 / 50%);
}

.home-content-cards > div > div {
  padding-top: 2rem;
}

.home-function-cards > div > img {
  height: 170px;
  width: fit-content;
  padding: 1rem;
  margin: 0 auto;
}

/* Pagination */
.pagination-card-bg > span{
  background-color: rgb(73 155 169) !important;
  border-color: rgb(73 155 169) !important;
  color: #fff !important;
}

.pagination-card-bg > li > a > span{
  color: rgb(73 155 169) !important;
}

.page-link{
  color: #317985 !important;
}

/* Recharge */
.recharge-card > div{
  text-align: left;
  padding: 1rem;
}

.recharge-card > div > .card-title{
  padding: .5rem .5rem 0rem 1rem;
  margin-bottom: 0rem;
}

.recharge-card > div > .card-text{
  padding: 0rem .5rem 0rem 1rem;
}

.card-body > a > button {
  background-color: rgb(73 155 169);
  border-color: rgb(73 155 169);
}

.card-body > a > button:hover {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

.card-body > a > button:focus {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

.card-body > a > button:active {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

/* Homepage - Statistic */
.card-img-overlay{
  padding: 0.5rem !important;
}

.statistic-card{
  min-height: 27rem;
}

.statistic-card > .card-body{
  background-image: url('./components/images/StatisticBox-bg2.svg');
  background-repeat: no-repeat;
  background-size: 22rem;
  background-position: 90% 90%;
}


/* Open account */
.openAcc > div{
  height: 26vw;
  padding: 1.2rem;
}

.openAcc > div:hover{
  box-shadow: 0px 0px 3px 3px rgb(207 228 229 / 50%);
}

.openAcc > div > img{
  width: 70%;
  align-content: center;
  margin: 0 auto;
}

.openAcc > div > div > div {
  margin: .3rem .5rem 1rem .5rem ;
}

.openAcc > div > div > .card-title {
  color: #21515a;
  font-size: 1.7rem;
}

.openAcc > div > div > p {
  height: 3.5vw;
  font-weight: 500;
  color: #7c8a8d;
}

.openAcc > div > div > button {
  background-color: rgb(73 155 169);
  border-color: rgb(73 155 169);
}

.openAcc > div > div > button:focus {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

.openAcc > div > div > button:hover {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

.openAcc > div > div > button:active {
  background-color: rgb(49 121 133);
  border-color: rgb(49 121 133);
}

/* Open account - Form */
.AccFormModal > img {
  width: 20vw;
}

.AccFormModal > div > h4 {
  margin-top: 1rem;
}

.AccFormModal > div > p {
  font-size: 1rem;
  font-weight: 400;
}

.Form-card > div:nth-child(1) {
  font-size: 1.07rem;
  font-weight: 500;
  color:#21515a;
}


/* RWD */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
